.login {
  display: flex;
  height: 70vh;
  align-items: center;
  justify-content: center;
  margin: 5rem;
}

.loginBtn {
  margin-top: 1rem;
}

.invalid-inputs {
  color: red;
  margin-top: 1rem;
}

.home-container {
  margin: 4.5rem;
}